<div class="grid grid-cols-15">
    <aside class="self-start sticky top-0 col-span-3">
        <div class="flex flex-col h-full p-3 dark:bg-gray-900 dark:text-gray-100">
            <div class="space-y-3">
                <div class="flex items-center justify-between">
                    <h2>Dashboard</h2>
                    <button class="p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current dark:text-gray-100">
                            <rect width="352" height="32" x="80" y="96"></rect>
                            <rect width="352" height="32" x="80" y="240"></rect>
                            <rect width="352" height="32" x="80" y="384"></rect>
                        </svg>
                    </button>
                </div>
                <div class="relative">
                    <span class="absolute inset-y-0 left-0 flex items-center py-4">
                        <button type="submit" class="p-2 focus:outline-none focus:ring">
                            <svg fill="currentColor" viewBox="0 0 512 512" class="w-5 h-5 dark:text-gray-400">
                                <path d="M479.6,399.716l-81.084-81.084-62.368-25.767A175.014,175.014,0,0,0,368,192c0-97.047-78.953-176-176-176S16,94.953,16,192,94.953,368,192,368a175.034,175.034,0,0,0,101.619-32.377l25.7,62.2L400.4,478.911a56,56,0,1,0,79.2-79.195ZM48,192c0-79.4,64.6-144,144-144s144,64.6,144,144S271.4,336,192,336,48,271.4,48,192ZM456.971,456.284a24.028,24.028,0,0,1-33.942,0l-76.572-76.572-23.894-57.835L380.4,345.771l76.573,76.572A24.028,24.028,0,0,1,456.971,456.284Z"></path>
                            </svg>
                        </button>
                    </span>
                    <input type="search" name="Search" placeholder="Search..." class="w-full py-2 pl-10 text-sm dark:border- rounded-md focus:outline-none dark:bg-gray-800 dark:text-gray-100 focus:dark:bg-gray-900">
                </div>
                <div class="flex-1">
                    <ul class="pt-2 pb-4 space-y-1 text-sm">
                        <li class="rounded-sm" id="dashboard_button_nav"> <!-- dark:bg-gray-800 dark:text-gray-50 -->
                            <button rel="noopener noreferrer" onclick="window.changeUrl('dashboard')" class="flex items-center p-2 space-x-3 rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current dark:text-gray-400">
                                    <path d="M469.666,216.45,271.078,33.749a34,34,0,0,0-47.062.98L41.373,217.373,32,226.745V496H208V328h96V496H480V225.958ZM248.038,56.771c.282,0,.108.061-.013.18C247.9,56.832,247.756,56.771,248.038,56.771ZM448,464H336V328a32,32,0,0,0-32-32H208a32,32,0,0,0-32,32V464H64V240L248.038,57.356c.013-.012.014-.023.024-.035L448,240Z"></path>
                                </svg>
                                <span>Dashboard</span>
                            </button>
                        </li>
                        <li class="rounded-sm" id="2fa_button_nav">
                            <button rel="noopener noreferrer" onclick="window.changeUrl('2fa')" class="flex items-center p-2 space-x-3 rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current dark:text-gray-400">
                                    <path d="M256,0C114.613,0,0,114.613,0,256s114.613,256,256,256,256-114.613,256-256S397.387,0,256,0Zm0,480c-119.37,0-224-96.63-224-224S136.63,32,256,32s224,96.63,224,224S375.37,480,256,480Z"></path>
                                    <circle cx="392" cy="128" r="48"></circle>
                                    <path d="M256,304c-48.52,0-88-39.48-88-88s39.48-88,88-88,88,39.48,88,88S304.52,304,256,304Zm0-144c-26.47,0-48,21.53-48,48s21.53,48,48,48,48-21.53,48-48S282.47,160,256,160Z"></path>                                
                                </svg>
                                    <span>Two Factor Authentication</span>
                            </button>
                        </li>
                        <!-- make one for each route -->
                        <li class="rounded-sm" id="sessions_button_nav">
                            <button rel="noopener noreferrer" onclick="window.changeUrl('sessions')" class="flex items-center p-2 space-x-3 rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current dark:text-gray-400">
                                    <path d="M256,0C114.613,0,0,114.613,0,256s114.613,256,256,256,256-114.613,256-256S397.387,0,256,0Zm0,480c-119.37,0-224-96.63-224-224S136.63,32,256,32s224,96.63,224,224S375.37,480,256,480Z"></path>
                                    <circle cx="392" cy="128" r="48"></circle>
                                    <path d="M256,304c-48.52,0-88-39.48-88-88s39.48-88,88-88,88,39.48,88,88S304.52,304,256,304Zm0-144c-26.47,0-48,21.53-48,48s21.53,48,48,48,48-21.53,48-48S282.47,160,256,160Z"></path>
                                </svg>
                                <span>Sessions</span>
                            </button>
                        </li>
                        <li class="rounded-sm">
                            <button rel="noopener noreferrer" onclick="logout();" class="flex items-center p-2 space-x-3 rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-current dark:text-gray-400">
                                    <path d="M440,424V88H352V13.005L88,58.522V424H16v32h86.9L352,490.358V120h56V456h88V424ZM320,453.642,120,426.056V85.478L320,51Z"></path>
                                    <rect width="32" height="64" x="256" y="232"></rect>
                                </svg>
                                <span>Logout</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex items-center p-2 mt-12 space-x-4 justify-self-end">
                <img id="avatar_needs_src" src="https://source.unsplash.com/100x100/?portrait" alt="" class="w-12 h-12 rounded-lg dark:bg-gray-500">
                <div>
                    <h2 class="text-lg font-semibold" id="name_of_user">John Doe</h2>
                    <span class="flex items-center space-x-1">
                        <button rel="noopener noreferrer" onclick="window.changeUrl('account')" class="text-xs hover:underline dark:text-gray-400">View profile</button>
                    </span>
                </div>
            </div>
        </div>
    </aside>
    
    <main class="col-span-12 p-3" id="content">
        hiiiiiii
    </main>
</div>



